<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.titanzhang"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="5"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name="AutoBTSettingsActivity" android:label="@string/app_name" android:launchMode="singleTask" android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="com.titanzhang.AutoBTSettingsActivity.ACTION_BOOT_LOAD"></action>
            </intent-filter>
        </activity>
        <receiver android:label="@string/booter_name" android:name=".BroadcastReceiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <activity android:label="@string/booter_name" android:icon="@drawable/icon" android:name="AutoBTBootActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

    </application>
</manifest>